.Intro{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.I-wrapper{
  display:block;
}
.rocky{
  border-radius:50%;
}
.tile{
  font-size:2.5rem;
  /* color:#556369; */
  background-color:red;
  background-image: linear-gradient(45deg, #f3ec78, af4261);
  background-size:100%;
  background-repeat:repeat;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  -moz-background-clip:text;
  -moz-text-fill-color:transparent;
}
.T-content{
  color:#556369;
  font-size:1.5rem;
}
.T__content{
  color:#556369;
  font-size:1.3rem;
  margin-top:1.1rem;
}
@media Screen and (max-width:550px){
  .tile{
    font-size:1.5rem;
  }
  .T-content{
    text-align:center;
  }
  .T__content{
    text-align:center;
  }
}
